<span class="bg-primary w-2-f h-2-f d-flex justify-content-center align-items-center rounded-circle shadow pointer">
  <i class="iconify mdi-1 text-white" data-icon="{% if saved %}mdi-heart-outline{% else %}mdi-heart{% endif %}"></i>
</span>
